/*!
Theme Name: Refresh the Triangle
Theme URI: http://refreshthetriangle.co
Author: Josh Mobley
Author URI: http://www.joshmobley.net
Description: Custom theme for Refresh the Triangle.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: refresh-the-triangle

Refresh the Triangle is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/* line 1, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 7, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* line 22, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 29, ../sass/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 34, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 40, ../sass/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 44, ../sass/_normalize.scss */
a {
  background-color: transparent;
}

/* line 49, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 53, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 58, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 62, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 66, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0;
}

/* line 71, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 76, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 81, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 88, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 92, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 96, ../sass/_normalize.scss */
img {
  border: 0;
}

/* line 100, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 104, ../sass/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 108, ../sass/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 113, ../sass/_normalize.scss */
pre {
  overflow: auto;
}

/* line 120, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 129, ../sass/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 135, ../sass/_normalize.scss */
button {
  overflow: visible;
}

/* line 140, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 147, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 153, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 158, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 163, ../sass/_normalize.scss */
input {
  line-height: normal;
}

/* line 168, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 174, ../sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 178, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 184, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 188, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 194, ../sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 199, ../sass/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 203, ../sass/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 207, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 213, ../sass/_normalize.scss */
td,
th {
  padding: 0;
}

/* GLOBALS */
/* line 9, ../sass/_home.scss */
.clear-fix, .page-section {
  *zoom: 1;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clear-fix:after, .page-section:after {
  content: "";
  display: table;
  clear: both;
}

/* line 13, ../sass/_home.scss */
.button {
  padding: 1em;
  display: inline-block;
  background: #537345;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 22, ../sass/_home.scss */
.button:hover {
  background: #6a8c51;
}

/* line 28, ../sass/_home.scss */
.left-half {
  width: 50%;
  float: left;
}

/* line 33, ../sass/_home.scss */
.right-half {
  width: 50%;
  float: right;
}

/* TYPE */
/* line 42, ../sass/_home.scss */
p, li, dt, dd, strong, em, a, h2, h3, h4 {
  font-family: 'brandon-grotesque';
  font-size: 1.6em;
  font-weight: 300;
}

/* ACCESSIBILITY */
/* line 51, ../sass/_home.scss */
.screen-reader-text {
  visibility: hidden;
  height: 0;
  display: none;
}

/* HEADER */
/* line 59, ../sass/_home.scss */
.site-header {
  padding: 2em 10%;
  text-align: center;
}

/* line 64, ../sass/_home.scss */
.site-title {
  font-size: 4em;
  font-family: 'brandon-grotesque';
  font-weight: 400;
  letter-spacing: -2px;
  text-indent: -9999em;
  background: url("../assets/logo.png") no-repeat 0 0;
  width: 400px;
  height: 178px;
  margin: 0 auto;
}
/* line 75, ../sass/_home.scss */
.site-title a {
  color: #81a65d;
  text-decoration: none;
}

/* BODY */
/* line 83, ../sass/_home.scss */
.page-section {
  padding: 2em 10% 4em;
}

/* line 88, ../sass/_home.scss */
.page-section-title {
  text-align: center;
  font-size: 4em;
  margin: 1em 0 1em;
  font-family: "brandon-grotesque";
  font-weight: 400;
}

/* line 96, ../sass/_home.scss */
.page-section-subtitle {
  font-family: 'fira-sans';
  font-weight: 100;
  font-size: 2em;
  text-align: center;
}

/* HOME */
/* line 105, ../sass/_home.scss */
.next-meetup {
  background: #d0ecf2 url("../assets/lightning.png") no-repeat top center;
  border-top: 2px solid #5aadbf;
  border-bottom: 2px solid #5aadbf;
}
/* line 110, ../sass/_home.scss */
.next-meetup .button {
  margin: 0 auto;
}
/* line 114, ../sass/_home.scss */
.next-meetup .date-and-time {
  font-size: 2em;
  text-align: center;
  color: #537345;
}
/* line 120, ../sass/_home.scss */
.next-meetup .page-section-title {
  color: #537345;
  margin-bottom: 0;
}
/* line 125, ../sass/_home.scss */
.next-meetup .meetup-description {
  width: 60%;
  float: left;
}
/* line 130, ../sass/_home.scss */
.next-meetup .meetup-details {
  width: 27%;
  font-size: .8em;
  padding: 4%;
  float: right;
  background: rgba(90, 173, 191, 0.5);
}
/* line 137, ../sass/_home.scss */
.next-meetup .meetup-details .button {
  margin: 0 auto;
}
/* line 141, ../sass/_home.scss */
.next-meetup .meetup-details dt {
  font-size: 2em;
  font-weight: 600;
}
/* line 146, ../sass/_home.scss */
.next-meetup .meetup-details dd {
  margin: 0 0 .5em;
}

/* line 152, ../sass/_home.scss */
.sponsorship {
  background: #81a65d;
  color: #fff;
}

/* line 157, ../sass/_home.scss */
fieldset {
  border: none;
  padding: 0;
  text-align: center;
}
/* line 162, ../sass/_home.scss */
fieldset input, fieldset label {
  display: block;
  margin: 0 auto;
}
/* line 167, ../sass/_home.scss */
fieldset label {
  font-family: 'brandon-grotesque';
  font-size: 2em;
}
/* line 172, ../sass/_home.scss */
fieldset input, fieldset textarea {
  margin: .5em auto 2em;
  padding: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #5aadbf;
  max-width: 400px;
  width: 100%;
  font-family: 'brandon-grotesque';
  font-size: 1.2em;
}
/* line 183, ../sass/_home.scss */
fieldset input[type="submit"] {
  background: #6a8c51;
  color: #fff;
  font-size: 1.6em;
  width: auto;
  padding: 1em 3em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 191, ../sass/_home.scss */
fieldset input[type="submit"]:hover {
  background: #81a65d;
}

/* FOOTER */
/* line 200, ../sass/_home.scss */
footer {
  padding: 1em 10%;
  background: #537345;
  color: #81a65d;
}
