/* GLOBALS */

$bg-primary: #D0ECF2;
$bg-secondary: #6A8C51;
$primary: #5AADBF;
$secondary: #537345;
$accent: #81A65D;

.clear-fix{
	@include pie-clearfix;
}

.button{
	padding: 1em;
	display: inline-block;
	background: $secondary;
	color: #fff;
	text-decoration: none;
	@include border-radius(5px);
	@include transition(all .5s);

	&:hover{
		background: $bg-secondary;
	}

}

.left-half{
	width: 50%;
	float: left;
}

.right-half{
	width: 50%;
	float: right;
}


/* TYPE */


p, li, dt, dd, strong, em, a, h2, h3, h4{
	font-family: 'brandon-grotesque';
	font-size: 1.6em;
	font-weight: 300;
}


/* ACCESSIBILITY */

.screen-reader-text{
	visibility: hidden;
	height: 0;
	display: none;
}

/* HEADER */

.site-header{
	padding: 2em 10%;
	text-align: center;
}

.site-title{
	font-size: 4em;
	font-family: 'brandon-grotesque';
	font-weight: 400;
	letter-spacing: -2px;
	text-indent: -9999em;
	background: url('../assets/logo.png') no-repeat 0 0;
	width: 400px;
	height: 178px;
	margin: 0 auto;

	a{
		color: $accent;
		text-decoration: none;
	}
}

/* BODY */

.page-section{
	padding: 2em 10% 4em;
	@extend .clear-fix;
}

.page-section-title{
	text-align: center;
	font-size: 4em;
	margin: 1em 0 1em;
	font-family: "brandon-grotesque";
	font-weight: 400;
}

.page-section-subtitle{
	font-family: 'fira-sans';
	font-weight: 100;
	font-size: 2em;
	text-align: center;
}

/* HOME */

.next-meetup{
	background: $bg-primary url('../assets/lightning.png') no-repeat top center;
	border-top: 2px solid $primary;
	border-bottom: 2px solid $primary;

	.button{
		margin: 0 auto;
	}

	.date-and-time{
		font-size: 2em;
		text-align: center;
		color: $secondary;
	}

	.page-section-title{
		color: $secondary;
		margin-bottom: 0;
	}

	.meetup-description{
		width: 60%;
		float: left;
	}

	.meetup-details{
		width: 27%;
		font-size: .8em;
		padding: 4%;
		float: right;
		background: rgba(90,173,191,.5);

		.button{
			margin: 0 auto;
		}

		dt{
			font-size: 2em;
			font-weight: 600;
		}

		dd{
			margin: 0 0 .5em;
		}
	}
}

.sponsorship{
	background: $accent;
	color: #fff;
}

fieldset{
	border: none;
	padding: 0;
	text-align: center;

	input, label{
		display: block;
		margin: 0 auto;
	}

	label{
		font-family: 'brandon-grotesque';
		font-size: 2em;
	}

	input, textarea{
		margin: .5em auto 2em;
		padding: 1em;
		@include border-radius(5px);
		border: 1px solid $primary;
		max-width: 400px;
		width: 100%;
		font-family: 'brandon-grotesque';
		font-size: 1.2em;
	}

	input[type="submit"]{
		background: $bg-secondary;
		color: #fff;
		font-size: 1.6em;
		width: auto;
		padding: 1em 3em;
		@include transition( all .5s);

		&:hover{
			background: $accent;
		}
	}

}

/* FOOTER */

footer{
	padding: 1em 10%;
	background: $secondary;
	color: $accent;
}